<h2>INFORMACIÓN</h2>
<p>
  Akira (アキラ?) es un manga de más de dos mil páginas escrito y dibujado por
  Katsuhiro Otomo entre los años 1982 y 1990, obteniendo un éxito significativo
  en Japón y en el resto del mundo. Premiada con el Premio Kōdansha al mejor
  manga en 1984 en la categoría general (一般部門). Es la base de la película
  homónima de animación japonesa y ambas obras tuvieron un reconocimiento
  instantáneo como clásicos dentro de sus respectivos géneros. El largometraje
  homónimo se separa de la línea argumental del manga por causas claras: la
  película fue estrenada dos años antes de la conclusión del manga. Akira se
  ambienta en la ciudad futurista de Neo-Tokio, representada con profundo
  detalle en la película de animación (se invirtieron cerca de siete millones de
  dólares solo en los decorados).
</p>
