/* You can add global styles to this file, and also import other style files */

body {
    margin: 0 auto;
    background-color: rgb(31, 28, 28);
    color: tomato;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    padding: 2rem;
    margin-bottom: 4rem;
   
}

h2{
    color: red;
    text-transform: uppercase;
}